#main {

}


#data-container {
	width: 100%;
	display: flex;
	flex-direction: column;

}

#left-main {
	margin: 5px;
	padding: 20px;
	flex: 3;
	display: flex;
}

#right-main {
	padding: 20px;
	margin: 5px;
	flex: 1;
}

#top-data-container, #bottom-data-container {
	display: flex;
	flex-direction: row;
}

.data-description {
	margin-left: 30px;
}