#main {

}


#data-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 150px;

}

#second-data-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 150px;
	align-items: center;
	justify-content: center;

}

#left-container {
	margin: 5px;
	padding: 20px;
	flex: 1;
}

#right-container {
	padding: 20px;
	margin: 5px;
	flex: 5;
}